.main1{
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .main{
    margin:20px;
    font-family: 'Josefin Sans', sans-serif;
    text-align:center;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .dropbtn {
    font-family: 'Josefin Sans', sans-serif;
      background-color: white;
      color: rgba(0,0,0,0.5);
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
      width:202px;
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      color:rgba(0,0,0,0.4);
      min-width: 160px;
      /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
      z-index: 1;
    }
    .dropdown-content a {
      color: rgba(0,0,0,0.5);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    .dropdown-content a:hover {background-color: #f3f5f9;}
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown:hover .dropbtn {
      background-color: #f3f5f9;
    }
    table {
      
     /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
      border-collapse: collapse;
      width: 920px;
      margin: 30px;
      margin-left: 25px;
      margin-right: 20px;
      margin-top:38px;
      color: rgba(0,0,0,0.4);
      font-family: Calibri;
      letter-spacing: 0.45;
      font-size: 15px;
      background-color: white;
  }
  th, td {
      padding: 2px;
      text-align: center;
      border-bottom: 1px solid #DDD;
      cursor: pointer;
      font-family: 'Josefin Sans', sans-serif;
  }
  .tdata1{
    padding:13px;
  }
  th {
     padding:13.5px;
      font-family: 'Josefin Sans', sans-serif;
      letter-spacing: 1;
  }
  tr:hover {
      background-color: #D6EEEE;
      /* background-color:#B9D9EB;  */
      /* background-color:#ADD8E6; */
      /*background-color:#AFDBF5; */
      /* background-color:white; */
      background-color: #f3f5f9;
  }
  button i{
    background:none;
    border:none;
    font-size:20px;
}
i{
    color:rgba(0,0,0,0.4);
    font-size:20px;
}
button{
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  vertical-align: middle;
  background:none;
  width:40px;
  height:40px;
  padding:5px;
  padding-bottom:20px;
  border:none;
}