<div class="main1">
<br>
<div class="main">
    <div class="dropdown">
        <button class="dropbtn">Select Department</button>
        <div class="dropdown-content">
            <a href="analysis/production">Production Department</a> 
            <a href="analysis/business">Business Development</a> 
            <a href="analysis/sales">Sales & Marketing</a> 
            <a href="analysis/purchasing">Purchasing & Sourcing</a> 
            <a href="analysis/operations">Operations</a>
        </div>
    </div>
    <br><br><br>
    <table>
        <tr>
            <th>Department</th>
            <th>Total Employees</th>
            <th>Average Age</th>
            <th>Average Salary</th>
            <th>Top Skills</th>
        </tr>
        <tr>
            <td>{{department}}</td>
            <td>{{count}}</td>
            <td>{{age}}</td>
            <td>{{salary}}</td>
            <td>{{skill}}</td>
        </tr>
    </table>
    <br><br>
</div>
</div>
  