<body style="padding:0px;background-color: #f3f5f9;">
  <div class="wrapper1">
    <div class="sidebar1">
        <p style="font-family: 'Josefin Sans', sans-serif;font-size:25px;margin-top:0px;padding-bottom:7px;" class="h2">HR MANAGEMENT</p>
        <hr style="margin:10px;color:white;margin-left:15px;margin-right:15px;"/>
        <ul>
            <li><a href="employee"><i class="bi bi-people-fill"></i>Employee Data</a></li>
            <li><a href="attendance"><i class="bi bi-calendar-check-fill"></i>Time & Attendance</a></li>
            <li><a href="payroll"><i class="bi bi-bank2"></i>Payroll</a></li>
            <li><a [routerLink]="['analysis','production']"><i class="bi bi-clipboard-data-fill"></i>Reports & Analysis</a></li>
            <li><a href="documentation"><i class="bi bi-journals"></i>Documentation</a></li>
        </ul>
    </div>
    <div class="main_content">
      <!-- Header Part-->
      <div class="header">
          
      </div>

      <div style="height:488px;width:100%">
      <router-outlet></router-outlet> 
      </div>
    </div>
  </div>

  <div class="container1 body-content">
    <footer class="footer">
        <hr style="color:rgba(0,0,0,0.07);margin-bottom:20px;"/>
        <p style="margin-bottom:20px;margin-left:420px;color:rgba(0,0,0,0.3);">&copy; 2022 - HR Management</p>
    </footer>
  </div>

</body>
