
<div class="main1">
    <div class="main">
    <a href="employee" style="margin-left:2px;font-size:20px;color:rgba(0,0,0,0.4);"><i class="bi bi-arrow-left-circle-fill"></i></a>
    <div class="inner">
        <form ngNativeValidate>
            <br>
        <table>
            <tr>
                <td><span style="margin-right:50px;" class="name">Full Name</span><input type="text" class="textbox" placeholder="First Name" name="fullname" [(ngModel)]="employee.fullname" required/></td>
                <td><span style="margin-right:17px;" class="name">Employee Id</span><input type="text" class="textbox" placeholder="Employee Id" name="employeeid" [(ngModel)]="employee.employeeid" required/></td>
            </tr>
            <tr>
                <td><span style="margin-right:50px;" class="name">Enterprise</span><input type="text" class="textbox" placeholder="Enterprise" name="enterprise" [(ngModel)]="employee.enterprise" required/></td>
                <td><span style="margin-right:45px;" class="name">Email Id</span><input type="text" class="textbox" placeholder="Email" name="email" [(ngModel)]="employee.emailid" required/></td>
            </tr>
            <tr>
                <td><span style="margin-right:15px;" class="name">Date of Joining</span><input type="text" class="textbox" placeholder="mm/dd/yyyy" name="dateofjoining" [(ngModel)]="employee.dateofjoining" required/></td>
                <td><span style="margin-right:20px;" class="name">Department</span><input type="text" class="textbox" placeholder="Department" name="department" [(ngModel)]="employee.department" required/></td>
            </tr>
            <tr>
                <td><span style="margin-right:40px;" class="name">Designation</span><input type="text" class="textbox" placeholder="Designation" name="designation" [(ngModel)]="employee.designation" required/></td>
                <td><span style="margin-right:45px;" class="name">Location</span><input type="text" class="textbox" placeholder="Location" name="location" [(ngModel)]="employee.location" required/></td>
            </tr>
            <tr>
                <td><span style="margin-right:80px;" class="name">Salary</span><input type="text" class="textbox" placeholder="Salary" name="salary" [(ngModel)]="employee.salary" required/></td>
                <td><span style="margin-right:65px;" class="name">Bonus</span><input type="text" class="textbox" placeholder="Bonus" name="bonus" [(ngModel)]="employee.bonus" required/></td>
            </tr>
        </table>
        <br>
        <input type="submit" (click)="submit()" class="submit" value="Add Employee"/>
        </form>
    </div>
</div>
</div>
