.main1{
    overflow-x:hidden;
    overflow-y:hidden;
}
.main{
    overflow-x:hidden;
    overflow-y:hidden;
    margin:15px;
}
.inner{
    margin:5px;
    margin-left:110px;
}
.textbox{
border: 1px solid rgba(0, 0, 0, 0.1);
width: 52%;
height: 0px;
padding:20px;
border-radius:40px;
font-family: 'Josefin Sans', sans-serif; 
font-size:16px;
color:rgba(0,0,0,0.45);
}
td{
    padding:5px;
    padding-right:15px;
}
.name{
    color:rgba(0,0,0,0.45);
    margin-right:10px;
}
.submit,button{
margin-left:280px;
width: 26%;
border-radius:40px;
height: 40px;
padding-top: 8px;
padding-bottom: 10px;
color: white;
background-color: rgb(0, 0, 128);
border: 1px solid rgba(0, 0, 0, 0.1);
font-family: Bahnschrift;
font-family: 'Josefin Sans', sans-serif; 
font-size: 17px;
cursor:pointer;
}
button{
width: 16%;
margin-left: 5px;
}